amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.20
celery==3.1.18
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-sslify==0.2.7
kombu==3.0.26
pystache==0.5.4
python-postmark==0.4.7
pytz==2015.6
redis==2.10.3
requests==2.7.0
static==1.1.1
static3==0.6.1
suds==0.4
whitenoise==2.0.4
psycopg2==2.6.1
django-redis-cache==1.6.0
