{% extends 'base.html' %}

{% block content %}

	<h1>Salesforce Data Compare</h1>

	<p>
		Select an object from the list below and then tick the fields you want to use to compare the data to. It is recommended to only select fields that aren't unique to an Org. Eg. Id and auto-number fields.
	</p>
	<p>
		Note: This will only show objects and fields that exist in both environments.
	</p>

	<hr />

	<div class="col-md-3">
		<h2 class="no-margin">Select Object</h2>
	</div>

	<div class="col-md-6">
		<select class="form-control" id="object-select">
			<option value="">-- Select Option --</option>
			{% for object in job.sorted_objects %}
				<option value="{{ object.api_name }}">{{ object.label }} ({{ object.api_name }})</option>
			{% endfor %}
		</select>
	</div>

	<div class="col-md-12" class="field-select"></div>

	<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header"></div>
	      		<div class="modal-body"></div>
	      		<div class="modal-footer"></div>
	    	</div>
	  	</div>
	</div>

{% endblock %}

{% block scripts %}

	<script type="text/javascript" src="/static/js/select-object.js"></script>
	<script type="text/javascript" src="/static/js/cookie.js"></script>

	<script type="text/javascript">

		$('#object-select').change(function () {

			if ( $(this).val() != null && $(this).val() != '' ) {


				alert('GO GO GO');

			}
			else {

				$('.field-select').hide('slow');
			}

		});

	</script>
{% endblock %}