{% extends 'base.html' %}

{% block content %}

	<h1>Salesforce Data Compare</h1>

	<p>
		Select an object from the list below and then tick the fields you want to use to compare the data to. It is recommended to only select fields that aren't unique to an Org. Eg. Id and auto-number fields.
	</p>
	<p>
		Note: This will only show objects and fields that exist in both environments.
	</p>

	<hr />

	<div class="col-md-3">
		<h2 class="no-margin">Select Object</h2>
	</div>

	<div class="col-md-6">
		<select class="form-control">
			<option value="">-- Select Option --</option>
		</select>
	</div>


{% endblock %}