{% extends 'base.html' %}

{% load static %}

{% block content %}

	<h1>Salesforce Data Compare</h1>

	{% if job.status == 'Downloading Objects' %}
		<p>
			This tool uses the Salesforce REST API to query objects in your databases and compare data between two Orgs. This is useful for post-data migrations to ensure that the data is migrated successfully and all rows match. It also allows for reference tables and custom settings to be matched and managed.
		</p>
		<p>
			None of your organisation information or data is captured or kept from running this tool. Because this tool is querying data in your Salesforce Org, if you are running on behalf of a client or do not own the data, it is important to ensure people are aware that another cloud-based tool is accessing your Salesforce data.
		</p>
		<p>
			Note: You will need to be a System Administrator on both Orgs in order to use this application.
		</p>
	{% endif %}
	
	<div class="loading-components">

		<br/><br/>

		<div style="float:left;">
			<img src="{% static 'images/loading.gif' %}" alt="Loading" title="Loading" />
		</div>

		<div style="float:left;margin-left:20px;">
			<h1 style="font-size:1.5em;margin-top:20px;">
				{% if job.status == 'Downloading Objects' %}
					Querying your objects...
				{% else %}
					Comparing your data...
				{% endif %}
			</h1>
			<p>
				{% if job.status == 'Downloading Objects' %}
					Time on this will vary depending on the number of objects in your Org.
				{% else %}
					Time on this will vary depending on the size of data and number of fields in your selected object.
				{% endif %}
			</p>
		</div>

	</div>

	<div class="alert alert-danger error" role="alert" style="display:none;">
		<p>
			There was an error processing your request: <i class="error_message"></i>
			<br/><br/>
			Please <a href="/">return</a> to the home page and try again.
		</p>
	</div>

	<script>
 		window.setInterval(function () 
 		{
       		$.ajax({
			    url: '/job-status/{{ job.random_id }}',
			    type: 'get', 
			    dataType: 'json',
			    success: function(resp) 
			    {
			    	if (resp.status == 'Objects Downloaded') 
			    	{
			    		window.location = '/select-object/{{ job.random_id }}/';
			    	}
			        else if (resp.status == 'Finished')
			        {
			        	window.location = '/compare-data-result/{{ job.random_id }}/';
			        } 
			        else if (resp.status == 'Error')
			        {
			        	$('.loading-components').hide();
			        	$('.error').show();
			        	$('.error_message').text(resp.error);
			        }
			        // Else job is still running, this will re-run shortly.
			    },
			    failure: function(resp) 
			    { 
			        $('.loading-components').hide();
		        	$('.error').show();
		        	$('.error_message').text(resp);
			    }
			});
    	}, 1000);
	</script>

{% endblock %}